*{
    font-family: 'Rubik', sans-serif;
    color: #414141;
    font-weight: 400;
    line-height: 150%;
}

body{
    background: #FBF8EC;
    padding: 15px;
}

.container{
    max-width: 1208px;
    margin: 0 auto;
}

.articles .section_title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.cards{
    max-width: 1208px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(376px, 1fr));
    gap: 40px;
}

.card{
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.card_img img{
    object-fit: cover;
    object-position: top;
    height: 162px;
    width: 100%;
}

.card_text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 255px;
}

.card_text time{
    color: #8F8F8F;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_text .card_title{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card_text p{
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_btn{
    border-radius: 4px;
    background: #70C05B;
    color: var(--main-on-secondary, #FFF);
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    max-width: max-content;
    min-width: 150px;
    margin-top: auto;
}
.card_btn:hover{
    box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.20);
}
.card_btn:active{
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20) inset;
}

.disabled{
    background: #E5FFDE;
    color: #70C05B;
    pointer-events: none;
    cursor: default;
}